---
import { getParams } from "@/utils/misc";
import CoinSelector from "../components/CoinSelector/CoinSelector.astro";
import Layout from "../layouts/Layout.astro";

const searchParams = getParams();
---

<Layout title="saveonswaps">
  <main>
    <CoinSelector {...searchParams} />
  </main>
</Layout>
