---
import { exchangeDisplayInfoSchema } from "@/utils/schemas";
import ExchangeItem from "./ExchangeItem.astro";

type Props = {
  to: string;
  exchanges: any[];
};

const { exchanges, to } = Astro.props as Props;

const schema = exchangeDisplayInfoSchema;
const result = schema.array().parse(exchanges);
---

<div>
  {result.map((exchange) => <ExchangeItem to={to} exchange={exchange} />)}
</div>
