<footer class="flex justify-between py-4 mt-10 border-t-2">
  <div class="flex-1">
    <ul class="ml-auto w-fit flex items-center gap-5">
      <li>
        <a
          href="mailto:saveonswaps@proton.me"
          class="cursor-pointer hover:text-slate-200 flex gap-1 items-center"
          >Email<span> ↗︎</span></a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="cursor-pointer hover:text-slate-200 flex gap-1 items-center"
          >Feedback <span> ↗︎</span></a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://github.com/lmssiehdev"
          class="cursor-pointer hover:text-slate-200 flex gap-1 items-center"
        >
          Github <span> ↗︎</span></a
        >
      </li>
    </ul>
  </div>
</footer>
